head

  meta(charset="UTF-8")
  meta(name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0")

  title BLOG juan moreno

  link(rel="shortcut icon" href="assets/images/favicon.ico")
  link(href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css')
  link(href="assets/styles/main.css" rel="stylesheet")

  body
    h1 a lo bn