body{
  padding: 0.5vw;
  margin: 0.5vw;
  color:white;
}
main{
  background-color: #186822;
  padding: 2vmin;
}

h1{
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 10vmin;
  //padding-bottom: 2vw;
  //margin-bottom: 2vw;
}

h2{
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 5vmin;
}

.b__header{
  border-bottom: 3px solid white;
}

.b__cart__wrapper{
  display: flex;
  align-items: flex-start;
  padding:3vw 0;
}

.b__list,
.b__cart{
  width: 50%;
  padding:1vw;
}


.b__cart{
  background-color: #33b642;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h2{
    margin-bottom: 1vw;
    font-size: 2vw;
  }
}

.b__cart__content-result{
  text-align: right;
  padding:0.8vw;
  font-weight: bold;
  text-transform: uppercase;
  border-top: 1px solid white; 
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}

.b__list__content-item{
  margin: 1vw 0;
  display: flex;
  align-items: center;
}

[class*=icono-] {
  background: none;
}

.list__name{
  margin: 0 1vw;
  width: 20%;
}

.list__price{
  width: 10%;
  margin: 0 1vw;
  font-weight: bold;
  text-align: right;
}

.list__post{
  width: 5%;
  text-align: right;
}

*:focus{
  outline: none;
  border: none;
}

.js-button:hover{
  opacity: 0.6;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:1vw 0;
}